.form__fieldset {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #c79600;
    background-color: #000000cf;
}

.form__positions {
    width: 100%;
    max-width: 100px;
    display: inline-block;
}

.form__box {
    width: 150px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #c79600;
    background-color: #f0ffff;
}