html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: center / cover no-repeat url("../src/images/currencies.jpg");
  background-attachment: fixed;
}